<!DOCTYPE html>
<html>

  <head>
    <title> Bootstrap 4</title>
    <link rel="stylesheet" type="text/css" href="./styles/client_order.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <% include partials/_header %>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>


  <div class="column">
    <div class="container">
      <div id="orderdetail" class="row">

        <div id="orderTable" class="col-md-5 col-sm-12">
          <div class="card-body">
            <h2 class="card-title">Order Details: </h2>
            <p class="card-text">Customer Name</p>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Product</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
            <% let price = 0 %>
            <% for(let order of order_list) { %>
              <tr>
                <td><%= order.name %></td>
                <td><%= order.quantity %></td>
                <td>$ <%= order.price %></td>
              </tr>
              <% price += Number(order.price) %>
            <% } %>
            </tbody>
          </table>
      </div>
 <!--  -->
      <div class="col-md-2 col-sm-12"></div>

        <div class="col-md-5 col-sm-12">
          <div class="card-body">
            <h2>Total price: </h2>
            <li class="list-group-item">$ <span><%= price.toFixed(2) %></span></li>
          <h5 id="payBy"> Pay By: </h5>
          <div>
            <button id="cash" type="button" class="btn btn-outline-primary">Cash</button>
            <button id="creditCard" class="btn btn-outline-success" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Credit Card
            </button>
          </div>

          <div class="collapse" id="collapseExample">
            <!-- <div class="card card-body"> -->
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Name on card</label>
                  <input type="name" class="form-control" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                  <label>Expiry date</label>
                  <input placeholder="MM/YY">
                </div>
              </div>
              <div class="form-group">
                <label>Card number</label>
                <input  class="form-control" placeholder="Card number">
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Security code</label>
                  <input type="text" class="form-control" placeholder="XXX">
                </div>
                <div class="form-group col-md-4">
                  <label id="psLabel" for="inputZip">Zip/Postal code</label>
                  <input type="text" class="form-control" id="inputZip">
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card-body">
          <input id="order" class="btn btn-primary" type="submit" value="Order Now!">
        </div>

        <div id="order-success"></div>

      </div>





      </div>
    </div>
  </div>













    </body>
  </html>
