<!DOCTYPE html>
<html>
  <head>
    <title> Bootstrap 4</title>
    <link rel="stylesheet" type="text/css" href="./styles/menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <% include partials/_header %>
  </head>


  <body>



    <div class="row">
      <div id="catogary" class="col">


        <h2 class='side'>
        Side
        </h2>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="http://www.deliaonline.com/sites/default/files/styles/square/public/su023-asparagus-wraps-21066.jpg?itok=1VemYeob" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://www.escalon.net/files/recipes/44.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://az723720.vo.msecnd.net/media/img16886.640x462.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>


        <h2 class='mainFoods'>
        Main Foods
        </h2>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="http://toriavey.com/images/2014/05/MG_67532.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://entreetravel.files.wordpress.com/2015/09/the-goring-dining-room_cornish-fish-stew.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://tse2.mm.bing.net/th?id=OIP.MNSjGyzE2bmtD1dX_pKkRwHaE6&pid=Api" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>



        <h2 class='drinks'>
        Drinks
        </h2>
        <div class="card-group">
          <div class="card">
            <img class="card-img-top" src="http://www.deliaonline.com/sites/default/files/styles/square/public/su023-asparagus-wraps-21066.jpg?itok=1VemYeob" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://www.escalon.net/files/recipes/44.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="http://az723720.vo.msecnd.net/media/img16886.640x462.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Burger</h5>
              <p class="card-text">BBQ sauce, organic gredients!</p>
              <p class="card-text"><small class="text-muted">Price: $12.11</small></p>
              <input  class="form-control" id="time" placeholder="Amount">
              <button id="add" type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>











      <div id="catogary" class="col">

        <section id="orderdetail" class="row">
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">Order Deatails</h5>
              <p class="card-text">Customer Name</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">item 1
                <button class="delete-btn"> delete </button>
              </li>
              <li class="list-group-item">item 2
                <button class="delete-btn"> delete </button>
              </li>
              <li class="list-group-item">item 3
                <button class="delete-btn"> delete </button>
              </li>
              <li class="list-group-item">Total Price: $<button class="delete-btn"> delete </button>
              </li>
            </ul>
            <div class="card-body">
              <input id="placeOrder" class="btn btn-primary" type="submit" value="Place Order">
            </div>
          </section>

        </div>
      </div>
    </body>
  </html>