<!DOCTYPE html>
<html>
<head>
  <title>My Order</title>
    <link rel="stylesheet" type="text/css" href="./styles/menu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
    <% include partials/_header %>
    <div id="catogary" class="col">
        <section id="orderdetail" class="row">
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">Order Details</h5>
              <p class="card-text">Customer Name</p>
            </div>
            <form action="/myorder" method="GET">
              <div>
                order list should appear here
              </div>
            </form>
              <li class="list-group-item">Total Price: $ </li>
            <button class="delete-btn"> delete </button></li>
          </section>
        </div>
      </div>

</body>
</html>
