body {
  background-image: url("https://bit.ly/2BOtxsz");
  background-size: cover;
}
#loginbox {
  opacity: 1;
  color: #a5a5a55e;
  background-color: #3130309e;
  margin: 15em 45em 15em 45em;
  padding: 2em 5em 2em 5em;
}


#loginbox:hover {
  color: #ffffffbd;
  opacity: 1;
}

#header {
  text-align: center;
}

